
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

header {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 99;
      background-color: center;
      background-color: #fff;
      border-bottom: azure 1px solid;
}

nav> ul {
      list-style: none;
}

li {
      display: inline;
      font-size: 12px;
}


html {
      scroll-behavior: smooth;
}

::placeholder {
      font-size: 0.5rem;
      font-family: "Poppins", sans-serif;
}

a {
      text-decoration: none;
      color: inherit;
}

p {
      font-size: 0.6rem;
}
    
body {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      max-width: 1024px;
      margin: 0 auto;
}

button {
      background: none;
      border: none;
      cursor: pointer;
      background-color: orange;
      color: black;
      padding: 0.5rem 1.5rem;
      font-size: 0.6rem;
      font-weight: bold;
      transition: 0.5s;
}

button:hover {
      background-color: #ffc107;
}
    
nav {
      display: none;
}
    
img {
      width: 100%;
      object-fit: cover;
      object-position: center;
}
    
.logo {
      font-size: 1rem;
      cursor: pointer;
      font-family: 'Lucida Sans';
}
    
.logo span {
      color: orange;
}

.menu i {
      font-size: 1.3rem;
      cursor: pointer;
}

.menu i:hover {
      color: orange;
}
    
.menuIcon {
      transition: 0.5s;
}
    
.mobileNav {
      height: calc(100vh - 80px);
      z-index: 9;
      position: fixed;
      top: 80px;
      left: 0;
      background: #fff;
      width: 100%;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      transition: 0.5s linear;
}

.openMobileNav {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
    
.mobileNav > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 60%;
}
    
.mobileNav > ul > li {
      font-size: 0.7rem;
      font-weight: 600;
      cursor: pointer;
      text-align: left;
}
    
.activeNav {
      color: orange;
}
    
#hero {
      height: calc(100vh - 80px);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      display: grid;
      place-items: center;
      transition: 0.5s linear;
}
    
#heroCover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
}

#hero #heroText {
      position: relative;
      color: white;
      z-index: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
    
#hero h4 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
      color: #ffc107;
}
    
#hero p {
      font-size: 1rem;
      color: darkorange;
      width: 40ch;
      text-align: center;
      margin-bottom: 2rem;
      animation: move 7s;
      animation-timing-function: ease-in;
      animation-delay: -2s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
}

@keyframes move {
      from {
            margin-left: 0%;
            width: 90%;
      }
      to {
            margin-left: 20%;
            width: 80%;
      }
}

@-webkit-keyframes move {
      from {
            margin-left: 0%;
            width: 90%;
      }
      to {
            margin-left: 20%;
            width: 80%;
      }
}
    
#hero button {
      margin: 0 auto;
}

#backgroundSlide {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      position: absolute;
      bottom: 1rem;
}
    
#backgroundSlide span {
      height: 2px;
      width: 1.5rem;
      background-color: white;
      z-index: 1;
      cursor: pointer;
      transition: 0.5s;
}
    
#backgroundSlide span:hover {
      background-color: orange;
}

#about {
      padding: 1.2rem;
      height: fit-content;
}
    
.aboutImage {
      min-height: 4rem;
}
    
.aboutText {
      padding: 1rem 0;
}
    
.aboutText h2 {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
}
    
.aboutText p {
      padding: 0.5rem 0;
}

#ServicesGrid,
#projectGrid,
#teamSect,
#contact {
      /* height: max-content; */
      padding: 1rem 1.2rem;
}

#ServicesGrid h4,
#projectGrid h4,
#teamSect h4,
#contact h4 {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
      text-align: center;
}

#ServicesGrid p,
#projectGrid p,
#teamSect p,
#contact p {
      text-align: center;
}

.projGrid
.teamGrid
.ServeGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      margin-top: 1rem;
}

.SG1 {
      height: 200px;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0.3rem;
      justify-content: space-around;
      margin-bottom: 5px;
      margin-top: 10px;
      animation: colorchange 2s ease-in-out -2s infinite alternate forwards;
}

@keyframes colorchange {
      0% {
            background-color: black;
      }
      50% {
            background-color: olivedrab;
      }
      70% {
            background-color: green;
      }
      100% {
            background-color: coral;
      }
}

.SG2 {
      height: 200px;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0.3rem;
      justify-content: space-around;
      margin-bottom: 5px;
      margin-top: 10px;
      animation: colorchang -3s ease 1s infinite alternate forwards;
}

@keyframes colorchang {
      0% {
            background-color: black;
      }
      50% {
            background-color: violet;
      }
      70% {
            background-color: indigo;
      }
      100% {
            background-color: chartreuse;
      }
}

.SG3 {
      height: 200px;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0.3rem;
      justify-content: space-around;
      margin-bottom: 5px;
      margin-top: 10px;
      animation: colorchage 1s ease-in -1s infinite alternate forwards;
}

@keyframes colorchage {
      0% {
            background-color: black;
      }
      50% {
            background-color: rgba(0, 0, 255, 0.523);
      }
      70% {
            background-color: rgba(0, 255, 255, 0.564);
      }
      100% {
            background-color: rgba(80, 255, 115, 0.831);
      }
}
    
.SG1 .bestIcon,
.SG2 .bestIcon,
.SG3
.bestIcon {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
}
    
.SG1 h4,
.SG2 h4,
.SG3 h4 {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
}
    
.SG1 p,
.SG2 p,
.SG3 p {
      font-size: 0.7rem;
      width: 50ch;
}
    
.SG1 button,
.SG2 button,
.SG3 button {
      margin-top: 0.5rem;
}

.project {
      margin: 1rem 0;
      padding: 1rem;
      height: 500px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      transition: 0.5s;
}
    
.project:hover {
      transform: scale(1.01);
}

.projectImage img {
      height: 320px;
}
    
.projectText {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.projectText p {
      padding: 0.5rem 0;
}

.team {
      margin: 1rem 0;
      padding: 2rem 1rem;
      height: 350px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      transition: 0.5s;
}
    
.teamImage {
      display: flex;
      justify-content: center;
}
    
.teamImage img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
}
    
.teamText {
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
}

.teamText p {
      font-size: 0.8rem;
}

.contactmap {
      margin: 1rem 0;
}
    
form {
      width: 100%;
      background-color: azure;
}
    
input,
textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid gray;
      background-color: white;
      color: white;
      font-size: 0.8rem;
      transition: 0.5s;
      color: black;
      font-size: 0.5rem;
}
    
textarea {
      height: 100px;
}
    
form> button {
      width: 100%;
}

footer {
      font-size: 0.7rem;
      text-align: center;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      animation: colorhange -2s ease-out 1s infinite alternate both;
}

@keyframes colorhange {
      0% {
            background-color: black;
      }

      20% {
            background-color: #ffc107;
      }

      40% {
            background-color: blue;
      }

      60% {
            background-color: red;
      }

      80% {
            background-color: purple;
      }

      100% {
            background-color: chartreuse;
      }
}
    
@media only screen and (min-width: 768px) {
      #about {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        padding: 3rem 1.2rem;
      }
    
      .contactContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 3rem 1.2rem;
      }

      .teamGrid,
      .projGrid,
      .ServeGrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
      }

}
    
@media only screen and (min-width: 1024px) {
      h3 {
        font-size: 1.5rem !important;
      }
      .menu {
        display: none;
      }
    
      nav {
        display: block;
      }
    
      nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    
      nav ul li {
        margin-left: 1.2rem;
        font-size: 0.8rem;
      }
    
      #hero p {
        width: 60ch;
        line-height: 1.5rem;
      }
    
      #about {
        align-items: center;
      }
    
      #about p {
        width: 100ch;
        padding: 1rem 0;
      }
    
      #ServicesGrid,
      #projectGrid,
      #teamSect,
      #contact   {
        padding: 2rem 1.2rem;
      }
}
    